
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
     <img src="../../assets/download.png" alt="" width="140" height="24">
    
      
      &#160;
      &#160;
      &#160;
      &#160;
      &#160;
      &#160;
      &#160;
      &#160;
      &#160;
      &#160;
      &#160;
      &#160;
      &#160;
      &#160;
      &#160;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &#160;
      &#160;
      &#160;
      &#160;
      &#160;
      &#160;
      &#160;
      &#160;
      &#160;
      &#160;
      &#160;
      &#160;
      &#160;
      &#160;
      &#160;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &#160;
      &#160;
      &#160;
      &#160;
      &#160;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &#160;
      &#160;
      &#160;
      &#160;
      &#160;
      &#160;
      &#160;
      &#160;
      &#160;
      &#160;
      &#160;
      &#160;
      &#160;
      &#160;
      &#160;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;   &#160;
      &#160;
      &#160;
      &#160;
      &#160;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &#160;
      &#160;
      &#160;
      &#160;
      &#160;
      &#160;
      &#160;
      &#160;
      &#160;
      &#160;

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home">Home</a>
                </li>

                <li class="nav-item">
                    
                  <a class="nav-link" routerLink="/search">Search</a>
              </li>

                
                
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Category
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="nav-link" routerLink="/animated">Animated</a>
                    <a class="nav-link" routerLink="/comic">Comic</a>
                    <a class="nav-link" routerLink="/epic">Epic</a>
                    <a class="nav-link" routerLink="/horror">Horror</a>
                    <a class="nav-link" routerLink="/thriller">Thriller</a>

                    


                    <div class="dropdown-divider"></div>

                </div>
            </li>
            
                <li class="nav-item">
                    <a class="nav-link" routerLink="/cart">Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/logout">Logout</a>
                </li>
            </ul>
           
        </div>
    </nav>
    
