<header></header>
<slider></slider>


&nbsp;
&nbsp;
       

<div class="row">
    
    
    <div class="column nature">
      <div class="content">
        <img src="https://th.bing.com/th?id=OPA.iWuRoK36MC1Eqw474C474&w=220&h=210&o=5&pid=21.1" alt="comicbook" style="width:100%">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="book-title"> Zootopia</span><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="book-category" style=color:blue >Animated</span><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="book-price"  >Rs.799 /-</span><br>
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="add-to-cart-button" style=color:blue>Add to Cart</button>   
         </div>
    </div>


    <div class="column nature">
      <div class="content">
        <img src="../../assets/fcbdsmvenom2023001_cover-resized.jpg" alt="comic" style="width:65%">
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="book-title">SpiderMan-Venom</span><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="book-category" style=color:blue >Animated</span><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="book-price"  >Rs.2000/-</span><br>
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="add-to-cart-button" style=color:blue>Add to Cart</button>   
         </div>
    </div>
    
        
    
    
    
</div>


